<!doctype html>
<html lang="ja">

<head>
    <title>ジョイフル・ゲームナビ
    </title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href=".././static/css/style.css">
</head>

<body>
    <header  class="header">
        <h1 class="webtitle">
            <a class="toplink" href="/">ジョイフル・ゲームナビ</a>
        </h1>
        <nav>
            <ul>
            <li class="head_list">
                <a href="/">HOME</a>
            </li>
            <li class="head_list">
                <a href="/search">ワード検索</a>
            </li>
            <li class="head_list">
                <a href="/search2">タブ検索</a>
            </li>
        </ul>
        </nav>
        
    </header>

    <div class="content">
        <h1>HOME</h1>

        <h3>
            あなたの今の気分や状況を教えてください。<br>
            AIがおすすめのゲームをお伝えします。
        </h3>
        
        <div class="section">
        <p class="search_intro">
            好きな言葉で検索する
        </p>
        <a class="tab_search_link" href="/search">ワード検索</a>
        </div>

        <div class="section">
        <p class="search_intro">
            条件を指定して検索する
        </p>
        <a class="tab_search_link" href="/search2">タブ検索</a>
        </div>
    </div>
</body>

</html>
